@font-face {
  font-family: "bernierregular";
  src: url("fonts/BERNIERRegular-Regular.otf")
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
}

#quest-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100vw;
  height: 100vh;
}

#option-1{
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#option-2{
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#done{
  width: 100vw;
  height: 100vh;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* it center the item vertically */
  justify-content: center;
  display: none;
  font-size: 10vw;
}